
@media all and (max-width:990px){
    .fatcher-area{
        flex-direction: column;
    }
    /* fature area  */
    .enjoy{
        grid-template-columns: repeat(1,1fr);
    }
    .enjoy-right button {
        left: 0px;
        bottom: 0px;
        position: inherit;
    }
    /* some fact area  */
    .some-facts h2 {
        padding-top: 111px;
        padding-left: 30px;
    }
    .some-facts p{
        padding-left: 30px;
    }
    .project-prich {
        grid-template-columns: repeat(2,1fr);
    }
    /* sponsore area  */
    .sponsore-icone{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media all and (max-width:767px){
    .fatcher-area{
        flex-direction: column;
    }
    .fatcher-right{
     padding: 10px 30px;
    }
    .fatcher-left img{
        width: 100%;
        height: auto;
    }
    /* Features */
    .enjoy{
        grid-template-columns: repeat(1, 1fr);
    }
    /* sponsore area  */
    .sponsore-icone{
        grid-template-columns: repeat(2, 1fr);
    }
}


@media all and (max-width:576px){
    .navbar, .header-link{
        flex-direction: column;
    }
    .banner-heading h2{
        font-size: 3rem;
    }
    /* featcher area  */
    .fatcher-left{
        grid-template-columns: repeat(1, 1fr);
    }
    .experians {
        font-size: 3rem;
    }
    .Year-buttion {
        font-size: 18px;
    }
    /* some facts  */
    .project-prich {
        grid-template-columns: repeat(1,1fr);
    }
    /* sponsore area  */
    .sponsore-icone{
        grid-template-columns: repeat(1, 1fr);
    }
}